body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}



#container{
    height: 100%;
    width: 100%;
}
#acceuil{
    height: 100%;
    width: 100%;
    background-image: url(../assets/image/foxhole.gif);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* display: none; */
}
.titre{
    width: 50%;
    height: 30%;
    background: url(../assets/image/pngegg\ \(1\).png);
    background-position: center;
    background-size: cover;

}
.choix{
    width: 70%;
    height: 60%;

    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;

}
.leschoix{
    height: 70%;
    width: 35%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}
.gifchoix{
    height: 54%;
    width: 67%;
    background: yellow;
    border-radius: 150px;
    opacity: 60%;
}
.gifchoix:hover{
    opacity: 100%;
}
.choix1{
    background-image: url(../assets/image/pxalot-hatchet2.gif);
    background-position: 51% 60%;
    background-size: 400px;
    
}
.choix2{
    background-image: url(../assets/image/pxalot-warden-lt2.gif);
    background-position: 51% 60%;
    background-size: 400px;
}
.faction{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 200px;
    background-color: #161C23;
    opacity: 60%;
    border-radius: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E27A48;
    font-size: large;
    font-weight: bold;
    /* background-image: url(../assets/image/backfround.jpg);
    background-position: center;
    background-size: cover; */
}
.h1colo{
    color: #586330;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.h1warden{
    color: #607D8B;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/*! jeux colo */



#jeuxcolo{
    background-image: url(../assets/image/field2.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: none;
    display: flex;
    flex-direction: column;
}

#flagcolo{
    width: 100%;
    height: 20%;
   
    display: flex;
    justify-content: space-between;
    opacity: 85%;
    
}
.btnacceuil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 150px;
    background-color: #161C23;
    opacity: 60%;
    border-radius: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E27A48;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
    
}
.btnacceuil:hover{
    opacity: 100%;
}

#headerL{
    height: 100%;
    width: 20%;
    background-image: url(../assets/image/ColonialFlag.png);
    background-position: center;
    background-size: 80%;
}
#headerR{
    height: 100%;
    width: 20%;
    background-image: url(../assets/image/coloflag.jpg);
    background-position: center;
    background-size: 80%;
}

.attaquant{
    width: 100%;
    height: 80%;
    
    opacity: 80%;
    display: flex;
}
.attaquantL{
    width: 50%;
    height: 100%;
    
}
.attaquantR{
    width: 50%;
    height: 100%;
    /* background: rgb(255, 0, 174); */
}


.barL{
    width: 100%;
    height: 15%;
    /* background: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.pvbar{
    width: 70%;
    height: 20%;
    background-color: green;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    
}
.divpv{
    height: 100%;
    width: 20%;
    background: red;

}
.divpv1{
    height: 100%;
    width: 20%;
    background: red;

}
.divpv2{
    height: 100%;
    width: 20%;
    background: red;

}
.divpv3{
    height: 100%;
    width: 20%;
    background: red;

}
.divpv4{
    height: 100%;
    width: 20%;
    background: red;
    border-right:15px ;

}

.midL{
    width: 100%;
    height: 70%;
    /* background: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footerL{
    width: 100%;
    height: 15%;
    /* background: green; */
    display: flex;
    justify-content: center;
    gap: 60px;
}
.lesattaques{
    width: 15%;
    height: 80%;
    background: #272B1A;
    opacity: 100%;
    border-radius: 20px;
    opacity: 100%;
    
}
#tank{
    height: 85%;
    width: 70%;
    background: #586330;
    border-radius: 1025px;
    background-image: url(../assets/image/pxalot-hatchet2.gif);
    background-position: 50% 60%;
    background-size: 130%;
    transform: rotatey(180deg);

}
#tank:hover{
    height: 86%;
    width: 71%;
    
    
}
#tank1{
    height: 85%;
    width: 70%;
    background: #586330;
    border-radius: 1025px;
    background-image: url(../assets/image/pxalot-warden-lt2.gif);
    background-position: 50% 60%;
    background-size: 130%;
}

#tank1:hover{
    height: 86%;
    width: 71%;
}
#attaque1{
    background-image: url(../assets/image/bien.jpg);
    background-repeat: no-repeat;
    background-position: 50% 10%;
    background-size: 90%;
}





/*! jeux warden */

#jeuxwarden{
    background-image: url(../assets/image/field1.jpg);
    background-position: center;
    background-size: cover;
    transform: rotatey(180deg);
    height: 100%;
    width: 100%;
    display: none;
}

#flagwarden{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    opacity: 85%;
    transform: rotatey(180deg);
}
.lesattaquesw{
    background-color: #3A4D53;
}

#headerwarL{
    height: 100%;
    width: 16%;
    background-image: url(../assets/image/wardenflag.JPG);
    background-position: center;
    background-size: 110%;
}
#headerwarR{
    height: 100%;
    width: 20%;
    background-image: url(../assets/image/warflag.jpg);
    background-position: center;
    background-size: 80%;
}

#tank2{
    height: 85%;
    width: 70%;
    background: #586330;
    border-radius: 1025px;
    background-image: url(../assets/image/pxalot-hatchet2.gif);
    background-position: 50% 60%;
    background-size: 130%;
    transform: rotatey(180deg);

}
#tank2:hover{
    height: 86%;
    width: 71%;
    
    
}
#tank3{
    height: 85%;
    width: 70%;
    background: #586330;
    border-radius: 1025px;
    background-image: url(../assets/image/pxalot-warden-lt2.gif);
    background-position: 50% 60%;
    background-size: 130%;
}

#tank3:hover{
    height: 86%;
    width: 71%;
    
    
}


/*! info   */


.infocolo{
    height: 100%;
    width: 100%;
    /* display: flex; */
    display: none;
    
    position: absolute;
}
.infowarden{
    height: 100%;
    width: 100%;
    display: none;
    /* display: flex; */
    position: absolute;

}

.info1{
    width: 50%;
    height: 57%;
    background-image: url(../assets/image/info1\ hatchet.png);
    background-position: center;
    background-size: cover;
}
.info2{
    width: 50%;
    height: 57%;
    background-image: url(../assets/image/info2\ hatchet.png);
    background-position: center;
    background-size: cover;
}
.infowar1{
    
    width: 50%;
    height: 57%;
    background-image: url(../assets/image/info1warden.png);
    background-position: center;
    background-size: cover;
    

}
.infowar2{
    width: 50%;
    height: 57%;
    background-image: url(../assets/image/info2warden.png);
    background-position: center;
    background-size: cover;

}
.backtoacceuil{
    height: 10%;
    width: 10%;
    background: #212221;
    margin-left:40%;

    margin-top: 5%;
    border-radius: 25px;
    color: #E27A48;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.backtoacceuil:hover{
    color: white;
    border: #E27A48 1px ;
    
}