body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;

    
}



#container{
    height: 100%;
    width: 100%;
}
#acceuil{
    height: 100%;
    width: 100%;
    background-image: url(../assets/image/foxhole.gif);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /* display: none; */
}
.titre{
    width: 50%;
    height: 30%;
    background: url(../assets/image/pngegg\ \(1\).png);
    background-position: center;
    background-size: cover;

}
.choix{
    width: 70%;
    height: 60%;

    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;

}
.leschoix{
    height: 70%;
    width: 35%;
    /* background: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}
.gifchoix{
    height: 54%;
    width: 67%;
    background: yellow;
    border-radius: 150px;
    opacity: 60%;
}
.gifchoix:hover{
    opacity: 100%;
}
.choix1{
    background-image: url(../assets/image/pxalot-hatchet2.gif);
    background-position: 51% 60%;
    background-size: 400px;
    
}
.choix2{
    background-image: url(../assets/image/pxalot-warden-lt2.gif);
    background-position: 51% 60%;
    background-size: 400px;
}
.faction{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 200px;
    background-color: #161C23;
    opacity: 60%;
    border-radius: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E27A48;
    font-size: large;
    font-weight: bold;
    /* background-image: url(../assets/image/backfround.jpg);
    background-position: center;
    background-size: cover; */
}
#h1colo{
    color: #586330;
    font-family: Arial, Helvetica, sans-serif;
}
#h1warden{
    color: #607D8B;
    font-family: Arial, Helvetica, sans-serif;
}


/*! jeux colo */



#jeuxcolo{
    background-image: url(../assets/image/field2.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: none;
    display: flex;
    flex-direction: column;
}

#flagcolo{
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: space-between;
    opacity: 85%;
}
.btnacceuil{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 150px;
    background-color: #161C23;
    opacity: 60%;
    border-radius: 65px;
    font-family: Arial, Helvetica, sans-serif;
    color: #E27A48;
    font-size: large;
    font-weight: bold;
    margin-top: 50px;
    
}
.btnacceuil:hover{
    opacity: 100%;
}

#headerL{
    height: 100%;
    width: 20%;
    background-image: url(../assets/image/ColonialFlag.png);
    background-position: center;
    background-size: 80%;
}
#headerR{
    height: 100%;
    width: 20%;
    background-image: url(../assets/image/coloflag.jpg);
    background-position: center;
    background-size: 80%;
}




/*! jeux warden */

#jeuxwarden{
    background-image: url(../assets/image/field1.jpg);
    background-position: center;
    background-size: cover;
    transform: rotatey(180deg);
    height: 100%;
    width: 100%;
    display: none;
}

#flagwarden{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    opacity: 85%;
    transform: rotatey(180deg);
}

#headerwarL{
    height: 100%;
    width: 16%;
    background-image: url(../assets/image/wardenflag.JPG);
    background-position: center;
    background-size: 110%;
}
#headerwarR{
    height: 100%;
    width: 20%;
    background-image: url(../assets/image/warflag.jpg);
    background-position: center;
    background-size: 80%;
}
